{% load static %}
{% load flatpages %}
{% get_flatpages as flatpages %}

<html>

{% include "includes/header-content-pages.html" %}

    <!--CSS Styles-->
    {% block css %}{% endblock %}

    <!--Block Content-->
    <body>
        {% block body %}{% endblock %}

    
    <!--Javascript Import-->
    {% include "includes/footer-content-pages.html" %}
    
    <script defer src="{% static '/assets/js/main.js' %}"></script>

    <!--Javascript-->
    {% block javasript %}{% endblock %}

    </body>

</html>
