{% load static %}

<html>

{% include "includes/header-content-pages-html" %}

    <!--CSS Styles-->
    {% block css %}{% endblock %}

    <!--Block Content-->
    <body>
        {% block body %}{% endblock %}

    
    <!--Javascript Import-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="{% static '/assets/js/main.js' %}"></script>
    <!--Javascript-->
    {% block javasript %}{% endblock %}

    </body>

</html>
