{% extends "checkout.html" %}
{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/products.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static '/assets/js/products.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container my-5">

    <div class="row">
        <div class="col-12 mb-4">
            <img src="{% static '/images/logo_daten_punkt.png' %}" alt="Logo" width="50" height="50">
        </div>
        <hr>
    </div>


    <div class="row">

        <!--Main-->
        <div class="col-12 col-md-9">

            <h1>Upgrade your plan</h1>

            <div class="form-check form-switch form-switch-products">
                <label class="form-check-label">
                    <span class="before-switch-text">Annually</span>
                    <input class="form-check-input form-switch-products-input" type="checkbox" id="switch">
                    <span class="after-switch-text">Monthly</span>
                </label>
            </div>

            <!--Producutlist-->
            <div class="row mt-5" id="product-list"></div>

            <!--Produktform-->
            <div class="row">
                <div class="col-12 col-md-12">  

                    <div class="card mt-5">
                        <div class="card-header coustome-header">
                            Contact information
                        </div>
                        <div class="card-body">
                             <!-- Adresse -->
                            <form class="p-2" id="userProfileForm">
                                {% crispy profile_form %}  
                            </form>
                        </div>
                    </div>

                    <div class="card mt-5">
                        <div class="card-header coustome-header">
                            Payment information
                        </div>
                        <div class="card-body">
                          
                            <!-- Zahlungen -->

                            
                            <form id="payment-form" action="{% url 'products:create_payment_intent' %}" data-product="">
                              <div id="link-authentication-element">
                                <!--Stripe.js injects the Link Authentication Element-->
                              </div>
                              <div id="payment-element">
                                <!--Stripe.js injects the Payment Element-->
                              </div>
                              <button id="submit">
                                <div class="spinner hidden" id="spinner"></div>
                                <span id="button-text">Pay now</span>
                              </button>
                              <div id="payment-message" class="hidden"></div>
                            </form>
  

                        </div>
                    </div>

                    <div class="card mt-5 mb-5">
                        <div class="card-header coustome-header">
                            Bitly terms of service
                        </div>
                        <div class="card-body">
                            By clicking here, I agree to the Bitly Terms of Service, Privacy Policy, Acceptable Use Policy, DMCA Copyright Policy and the Automatic Renewal Terms.
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--Sidebar-->
        <div class="col-12 col-md-3">
            <div class="card bg-color-gray border-0">

                <div class="card-body">
                    <div id="product-detaile"></div>



                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            {{ checkout_form }}
                            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Button</button>
                        </div>
                    </form>

                    <div class="d-flex justify-content-between">
                        <div id="price"></div>
                        <div id="monthly_price"></div>
                        <div class="small">incl. <span id="tax"></span> % MwSt.
                    </div> 
                </div>

            </div>
        </div>

    </div>

</div>
<input type="hidden" id="client-secret-input" name="client_secret" value="{{ client_secret }}">

{% endblock body %}

{% block javasript %}

    
{% endblock %}
