{% extends "basic.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/accounts.css' %}">

    <!--Sidebar-->
    {% include "includes/sidebar.html" %}

    <div class="container-fluid p-0 bg-body">
        
        <!--Navbar-->
        {% include "includes/navbar.html" %}


    <!--Main-->
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Website Analytics</h5>
                        </div>
                        <div class="card-body pb-2">
                            <div>
                                <canvas id="myChart"></canvas>
                            </div>  
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>

{% endblock body %}

{% block javasript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

<script src="{% static '/assets/js/analytics.js' %}"></script>
{% endblock %}

