{% extends "basic.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/accounts.css' %}">

    <!--Sidebar-->
    {% include "includes/sidebar.html" %}

    <div class="container-fluid p-0 bg-body">
        


        <!--Navbar-->
        {% include "includes/navbar.html" %}


        <div>
            <canvas id="myChart"></canvas>
          </div>
          


    </div>

{% endblock body %}

{% block javasript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

<script src="{% static '/assets/js/archive.js' %}"></script>
{% endblock %}

