<div class="anayltics-overlay pb-5">

    
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="text-hradline">
                    <h2>Link-Statistiken</h2>
                    <h3>http://127.0.0.1:8000/shortcode/list/</h3>
                </div>
                <div class="icon-close">
                    <div id="icon-close-trigger">
                        <i class="fa-solid fa-xmark ms-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card">
                    <h6>Erstellt am</h6>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <h6>Daten ansicht</h6>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <h6>Letze änderung</h6>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <h6>Weitergelitet</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card h-100">
                    <div class="card-header">
                        <h5>Intervall</h5>
                    </div>
                    <div class="card-body">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card h-100">
                    <div class="card-header">
                        <h5>Top Länder</h5>
                    </div>
                    <div class="card-body">
                        <div id="chart-donut"></div>     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Top Städte</h5>
                    </div>
                    <ul class="list-group p-2 list-group-flush">
                        <li class="list-group-item">An active item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                      </ul>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Top Browser</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An active item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Top-Betriebssysteme</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An active item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Top Referrer</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" aria-current="true">An active item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>