<div class="anayltics-overlay pb-5">

    
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="text-hradline">
                    <h2>Link-Statistiken</h2>
                    <h3 id="shorcode-url">http://127.0.0.1:8000/shortcode/list/</h3>
                </div>
                <div class="icon-close">
                    <div id="icon-close-trigger">
                        <i class="fa-solid fa-xmark ms-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
<a href=""></a>

    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0 d-flex align-items-center justify-content-center">
                    <div>
                        <h6>Erstellt am</h6>
                        <p id="creation_date" class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0 d-flex align-items-center justify-content-center">
                    <h6>Letze änderung</h6>
                    <p id="last_modification_date" class="text-center mb-0"></p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0 d-flex align-items-center justify-content-center py-5">
                    <h6>Daten ansicht</h6>
                    <p id="redirections_counter" class="text-center mb-0"></p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0 d-flex align-items-center justify-content-center">
                    <h6>Original link</h6>
                    <p id="id-destination" class="text-center mb-0"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card h-100 border-0">
                    <div class="card-header">
                        <h5>Intervall</h5>
                    </div>
                    <div class="card-body">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card h-100 border-0">
                    <div class="card-header">
                        <h5>Top Länder</h5>
                    </div>
                    <div class="card-body">
                        <div id="chart-donut"></div>     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0">
                    <div class="card-header">
                        <h5>Top Städte</h5>
                    </div>
                    <ul class="list-group p-2 list-group-flush">
                        <div id="top-countries-list"></div>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0">
                    <div class="card-header">
                        <h5>Top Browser</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <div id="top-browsers-list"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0">
                    <div class="card-header">
                        <h5>Top-Betriebssysteme</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <div id="top-os-list"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card h-100 border-0">
                    <div class="card-header">
                        <h5>Top Referrer</h5>
                    </div>
                    <div class="card-body border-0">
                        <ul class="list-group list-group-flush">
                            <div id="top-referrers-list"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>