<div class="card">




    <div class="card-datatable table-responsive">
        <table id="example" class="table hover table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th></th>
                <th>Titel</th>
                <th>Ziel</th>
                <th>Datum</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>Titel</th>
                <th>Ziel</th>
                <th>Datum</th>
            </tr>
            </tfoot>
            <tbody>

                {% for object in object_list %}
                <tr>
                    <th>
                        <span class="d-none" id="short{{ object.id }}">{{ object.get_short_url }}</span>
                        <button data-button="{{ object.id }}" class="btn btn-light btn-sm btn-copy color{{ object.id }}" onclick="copyFunc('#short{{ object.id }}')">Kopieren</button>
                    </th>
                    <td data-shortname="{{ object.shortcode }}" data-shortcode="{{ object.id }}" class="shortcode-class short-name">{{ object.url_titel|truncatechars:22 }}</td>
                    <td data-shortname="{{ object.shortcode }}" class="short-name"><a href="{{ object.url_destination }}" target="_blank">{{ object.get_short_url|truncatechars:22 }}</a></td>
                    <td data-shortname="{{ object.shortcode }}" data-shortcode="{{ object.id }}" class="shortcode-class short-name">{{ object.url_create_date|date:"d.m.Y" }}</td>
                </tr>
                {% endfor %}
           

            </tbody>
        </table>
    </div>
</div>