{% load crispy_forms_tags %}

<aside id="aside-form" class="crate-form p-3">

    <div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-end">
        <button id="archive-btn" type="button" data-archive="" class="btn btn-outline-primary btn-sm">Archivieren</button>
        <button id="closeForm" type="button" class="btn btn-secondary btn-sm">Schließen</button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title pb-2">Neuen Link</h5>

            <form method="post" id="your_form_id">
                {% crispy form %}   


                <input type=hidden id="url_creator" name="url_creator" value="{{ admin }}">  

                <input type=hidden id="update-shortcode-url" name="shortcode" value=""> 
                <input type=hidden name="data" value="{% url 'shortcode:dashboard-create' %}">           
            </form>
        </div>
    </div>

    <div class="card m-3 bg-info d-none" id="text-card">
        <div class="p-2"><span id="destination"></span><span id="titel"></span></div>
    </div>

</aside>
