{% load crispy_forms_tags %}

<aside id="aside-form" class="crate-form p-3">

    <div class="card p-2">
        <div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-end m-2">
            <button id="archive-btn" type="button" data-archive="" class="btn btn-outline-primary btn-sm">Archivieren</button>
            <button id="closeForm" type="button" class="btn btn-secondary btn-sm">Schließen</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div id="liveAlertPlaceholder"></div>
            <!-- <h5 class="card-title pb-2">Neuen Link</h5> -->


            <div class="card bg-color-gray p-2">
                <ul class="nav nav-pills m-2" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Analytics</button>
                    </li>
                </ul>
            </div>

            <div class="card p-2">
                <div class="tab-content m-2" id="pills-tabContent">

                    <!---Form-->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div id="shortcode_id"></div>
                        <div class="card m-3 bg-info d-none" id="text-card">
                            <div class="p-2"><span id="destination"></span><span id="titel"></span></div>
                        </div>
                        <form method="post" id="your_form_id">
                            {% crispy form %}   
                            <input type=hidden id="url_creator" name="url_creator" value="{{ admin }}">  
            
                            <input type=hidden id="update-shortcode-url" name="shortcode" value=""> 
                            <input type=hidden name="data" value="{% url 'shortcode:dashboard-create' %}">           
                        </form>
                    </div>
    
                    <!--Analytics-->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <canvas id="myChartClick"></canvas>
                    </div>
                </div>                    
            </div>


        </div>
    </div>


</aside>

