{% load crispy_forms_tags %}

<div class="tag-overlay" id="model-form-tag">
    <div class="tag-overlay-body">

        <div class="d-flex justify-content-between mb-3">
            <h5>Tags Bearbeiten</h5>
            <div class="tag-header d-flex" id="tag-close">
                <i class="fa-solid fa-xmark ms-auto"></i>
            </div>
        </div>
        <p id="error-message"></p>
        <form class="form-tag-view">
            {% crispy tags_form %} 
        </form>
        <div id="tag-list-edit"></div>

        <div class="d-flex justify-content-start align-items-center model-box">
            <!-- <i class="fa-solid fa-arrow-left icon-modal-left"></i> -->
            <span id="tag-edit">
                Tags Löschen oder Bearbeiten
            </span>
            <i class="fa-solid fa-arrow-right icon-modal-right"></i>
        </div>

        
        
    </div>
</div>