

.overlay-active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff9e;
}

.overlay-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Form */
.crate-form{
    display: none;
    height: 100vh;
    z-index: 10000;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    margin-left: -690px;
    position: absolute;
}


#aside-form.toggle {
    right: 0;
    top: 0;
    bottom: 0;
    width: 690px;
    margin-left: 0;
    display: block;
    position: fixed;
    transition:all 5s;
}

#aside-form .card{
    border: 0;
}

/* FORM */
#aside-form label{
    opacity: .5;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#aside-form label span{
    opacity: 1;
    margin-left: 5px;
    color: red;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: .5;
}


/* Datatabel */
.short-name:hover{
    color: #0d6efd;    
}
.table>thead {
    background: #edf2ff;
}

.table-bordered>:not(caption)>*>* {
    border-width: 0;
}

.datatable-row-odd {
    background-color: #fff;
} 

table.dataTable tbody th, table.dataTable tbody td {
    padding: 20px 10px;
}

table.dataTable > thead > tr > th,
table.dataTable > thead > tr > td {
  padding: 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table.dataTable.hover > tbody > tr:hover > *, 
table.dataTable.display > tbody > tr:hover > * {
    cursor: pointer;
}

table.dataTable > tfoot > tr > th,
table.dataTable > tfoot > tr > td {
  padding: 20px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.dataTables_wrapper .dataTables_info {
    padding: 20px 10px;
}

.dataTables_wrapper .dataTables_paginate {
    padding: 20px 10px;
}

.dataTables_wrapper .dataTables_length {
    padding: 20px 10px;
}

.dataTables_wrapper .dataTables_filter {
    padding: 20px 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 20px;
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d6efd), color-stop(100%, #0d6efd));
    background: -webkit-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: -moz-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: -ms-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: -o-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: linear-gradient(to bottom, #0d6efd 0%, #0d6efd 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #0d6efd;
    background-color: rgba(0, 0, 0, 0.05);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d6efd), color-stop(100%, #0d6efd));
    background: -webkit-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: -moz-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: -ms-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: -o-linear-gradient(top, #0d6efd 0%, #0d6efd 100%);
    background: linear-gradient(to bottom, #0d6efd 0%, #0d6efd 100%);
}


.copied {
color: green;
}


/**/
.card-header {
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0;
}

.card-footer {
    color: #000;
    background-color: transparent;
    border-top: 0;
}

.card-footer .text-muted{
    font-weight: 300;
    color: #000 !important;  
}

.header-elements{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.card-body{
    padding: 0 1rem 0.5rem;
}

.card-body a{
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    font-weight: bold;
    text-decoration: none;
}

.card-body a.text-muted{
    font-weight: 300;
    color: #000 !important;
}

.me-2{
    margin-right: 0.5rem !important;
}

.ms-auto{
    margin-left: auto !important;
}

.favicon-img{
    border: 0;
    width: 32px;
    height: 32px;
    margin-top: -3px;
    margin-right: 9px;
}

.short-links-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-top: .5rem;
}


.orb-icon {
    margin-right: .5rem
}
