/*Overlay Open*/
.overlay-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9994;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(158 195 220 / 60%);
    opacity: 0; /* Starten Sie mit einer geringen Opazität */
    pointer-events: none; /* Deaktivieren Sie das Overlay, damit es nicht klickbar ist */
    transition: opacity 0.5s ease-in-out; /* Hier fügen Sie die Übergangseigenschaft hinzu */
}

.overlay-open {
    opacity: 1; /* Erhöhen Sie die Opazität, um das Overlay anzuzeigen */
    pointer-events: auto; /* Aktivieren Sie das Overlay, damit es klickbar ist */
}

#aside-form {
    width: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100vh;
    z-index: 10000;
    background-color: #fff;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#aside-form.toggle {
    visibility: visible;
    opacity: 1;
    width: 690px;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#aside-form .card{
    border: 0;
}

/*linkinbio-content*/
#linkinbio-content .linkinbio-radius{
    border-radius: 10px 10px 0 0;
}

#linkinbio-content .linkinbio-radius-bottom{
    border-radius: 0 0 10px 10px;
}

/*Custome image Uplaod */
.custom-file-upload {
    font-size: 400;
    font-size: 1rem;
    display: inline-block;
    background-color: #343a40;
    color: white;
    padding: .375rem .75rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #5d6369;
}

#imageUpload {
    display: none;
}