{% extends "content-pages.html" %}
{% load static %}
{% load i18n %}

{% block body %}

<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-md-5">

            <div class="card border-0">
                <div class="card-body">
                <h5 class="card-title text-center">{% trans 'Sie wurden ausgeloggt' %}</h5>
                <p class="{% trans 'card-text text-center' %}">
                    {% trans 'Vielen Dank für Ihre Zeit.' %}
                </p>
                    <div class="col text-center">
                        <a href="{% url 'accounts:login' %}" class="btn btn-primary">{% trans 'Melden Sie sich erneut an' %}</a>
                    </div>
                </div>
            </div>        

        </div>
    </div>
</div>


{% endblock body %}