{% extends "content-pages.html" %}
{% load static %}
{% load i18n %}

{% block css %}{% endblock %}

{% block body %}

<div class="container main-pages">

    
    <section class="hero-main">
        <div class="container p-5">
            <div class="row d-flex align-items-center justify-content-md-center">
                <div class="col-12 col-md-6 py-md-5 py-2 d-flex justify-content-end">
                    <div class="px-md-5 px-0">
                        <small>Erfolg auf Knopfdruck!</small>
                        <h1 class="mt-3">{{ content_page.headline }}</h1>
                        <p class="mt-3">{{ content_page.subline }}</p>
                        <a class="btn btn-primary mt-3">Get Started for Free</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 py-md-5 py-2 pt-5 d-flex justify-content-center">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">


                {% for marketing_field_id, translations in content_page.marketing_translations.items %}
                    <div class="marketing-field">
                        <p>{{ translations.headline }}</p>
                        <p>{{ translations.subline }}</p>
                        <div>{{ translations.text }}</div>
                        <img src="{{ translations.image_url }}" alt="Marketing Image">
                        <!-- Hier kannst du auf weitere übersetzte Felder zugreifen, z.B. {{ translations.headline }} oder {{ translations.text }} -->
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    

</div>

{% endblock %}


{% block javasript %}{% endblock %}
