{% load static %}

    <!--Javascript Import-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{% static '/app-assets/js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/assets/js/main.js' %}"></script>

    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function() {

        var table = new DataTable('#example', {
            stripeClasses:[],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/de-DE.json',
            },
        });

    });
 
    </script>
  
</html>