{% load static %}
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Style CSS Import-->
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/pages.css' %}">

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <!-- Our project just needs Font Awesome Free's Solid and Brand files -->
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SEO TAGs-->
    <title>{{ content_page.title }} | llinkb.com</title>
    <meta property="og:title" content="{{ content_page.title }} | llinkb.com">
    <meta name="description" content="{{ content_page.og_description }}">
    <meta property="og:description" content="{{ content_page.og_description }}">
    <meta name="robots" content="index, follow">

</head>


<nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom fixed-top">
  <div class="container">

    <a class="navbar-brand" href="/">
        <img src="{% static '/images/logo_daten_punkt.png' %}" alt="Logo" width="40" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/content/links/">{% trans 'Links' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/content/qr-codes/">{% trans 'QR-Codes' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/content/link-in-bio/">{% trans 'Link in Bio' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/">{% trans 'Preise' %}</a>
        </li>
      </ul>
        <a class="btn btn-primary me-2" href="{% url 'accounts:users-register' %}">{% trans 'Kostenlos registrieren' %}</a>
        <a class="btn btn-outline-primary" href="{% url 'accounts:login' %}">{% trans 'Einloggen' %}</a>
    </div>


  </div>
</nav>