{% load static %}

<head>
    <!--Style CSS Import-->
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/main.css' %}">

    <!--Favicons-->
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static '/images/Favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" href="/images/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/Favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/Favicon/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/Favicon/apple-touch-icon.png' %}">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="theme-color" content="#fff">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>