{% load custom_tags %}

<nav class="navbar navbar-expand bd-header navbar bg-white" aria-label="Second navbar example">
    <div class="container-fluid">

        <div class="collapse navbar-collapse order-1 pl-2" id="navbarsExample02">
            <ul class="navbar-nav me-auto"></ul> 
    
            <div class="dropdown user-menu">
                <button class="btn btn-secondary dropdown-toggle dp-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="button-circle"> {% first_character user.email %} </div>
                <div class="butto-name">{{ user.email }}</div>
                </button>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start border-0">
                    <li><a class="dropdown-item" href="{% url 'accounts:user-profile' user.id %}">Nutzerprofil</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Abmelden</a></li>

                    {% if user|is_free_user %}
                        <li><a class="dropdown-item" href="#">Free User</a></li>
                    {% endif %}

                </ul>
            </div>
    
        </div>

    </div>
</nav>