{% load static %}

<div class="d-flex sidebar bd-aside flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{% static 'images/logo_black.png' %}" alt="Logo" width="40" height="40">
        </a>
        <ul class="nav nav-pills flex-column mb-auto pt-3">
            <li class="nav-item">
                <a href="{% url 'analytics:analytics-view' %}" class="nav-link {% if '/analytics/' == request.get_full_path %} active {% endif %}">
     
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'shortcode:shortcode_list_view' %}" class="nav-link {% if '/shortcode/' == request.get_full_path %} active {% endif %}">
         
                    Links
                </a>
            </li>
            <li>
                <a href="{% url 'shortcode:archive-view' %}" class="nav-link {% if '/shortcode/archive/' == request.get_full_path %} active {% endif %}">
                    Archiv  {{sum_archive}}
                </a>
            </li>
            <li>
        </ul>
    </div>
