/*Overlay Open*/
.overlay-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9994;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(158 195 220 / 60%);
    opacity: 0; /* Starten Sie mit einer geringen Opazität */
    pointer-events: none; /* Deaktivieren Sie das Overlay, damit es nicht klickbar ist */
    transition: opacity 0.5s ease-in-out; /* Hier fügen Sie die Übergangseigenschaft hinzu */
}

.overlay-open {
    opacity: 1; /* Erhöhen Sie die Opazität, um das Overlay anzuzeigen */
    pointer-events: auto; /* Aktivieren Sie das Overlay, damit es klickbar ist */
}

#aside-form {
    width: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100vh;
    z-index: 10000;
    background-color: #fff;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#aside-form.toggle {
    visibility: visible;
    opacity: 1;
    width: 690px;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#aside-form .card{
    border: 0;
}

/*linkinbio-content*/
#linkinbio-content .linkinbio-radius{
    border-radius: 10px 10px 0 0;
}

#linkinbio-content .linkinbio-radius-bottom{
    border-radius: 0 0 10px 10px;
}

/*Custome image Uplaod */
.custom-file-upload {
    background-color: #f4f6fa;
    background-position: 50%;
    background-size: cover;
    border-radius: .4rem;
    padding: 3rem;
    color: #96a3bd;
    height: 8.8rem;
    width: 8.8rem;
    border: .1rem solid #dbe0eb;
    transition: color .4s,background-color .4s;
    cursor: pointer
}

.custom-file-upload .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    border: 0.1rem solid #f4f6fa;
    background-color: #f4f6fa;
    opacity: 0;
    transition: opacity .2s ease;
}

.custom-file-upload .overlay:hover {
    opacity: .5;
}

.custom-file-upload .no-image{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 100%;
    vertical-align: top;
    font-size: 1.6rem;
}

.custom-file-upload:hover {
    color: #2a5bd7;
    background-color: #e8ebf2
}

#imageUpload {
    display: none;
}


/**/
#customeButtonCheck .form-check-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

#customeButtonCheck input[type=radio]{
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
    transition: all .3s;
}

#customeButtonCheck span{
    display: block;
    height: 6.4rem;
    width: 6.4rem;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    border-radius: 0.4rem;
    padding: 2.5rem;
    color: #96a3bd;
    border: .1rem solid #dbe0eb;
    transition: all .3s;
}
#customeButtonCheck span i{
    font-size: 22px;
}

#customeButtonCheck span:hover {
    color: #2a5bd7;
    border: .1rem solid #2a5bd7;
    transition: all .3s;
}

input[type="color"] {
    position: relative;
    height: 2em;
    width: 2em;
    cursor: pointer;
    border-width: 0;
    border-style: solid;
    border-color:#fff;
    padding:0;
    color:unset;
}

#linkinbio small.mute-description{
    font-weight: 300;
    color: #000 !important;
    cursor: default;
}

#linkinbio h5{
    cursor: default;
}

#linkinbio .card{
    cursor: auto;
}

#linkinbio .badge{
    color: #014d19;
    cursor: default;
    background-color: #e9fbee !important;
}

#linkinbio .fa-regular,
#linkinbio .fa-solid{
    font-size: .9rem;
    cursor: default;
}

#linkinbio small{
    font-size: .8rem;
    font-weight: 300;
    cursor: default;
}

#linkinbio .dropdown-menu a{
    padding-top: 0;
    padding-bottom: 0;
}

#linkinbio .dropdown-menu a:hover,
#linkinbio .dropdown-item:focus, .dropdown-item:hover{
    background-color: unset !important;   
}

img.loader-image{
    width: 50px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/* #linkinbio-links */
#linkinbio-links .linkinbio-icon{
    font-size: .9rem;
    cursor: default;
}

#linkinbio-links a.linkinbio{
    font-size: .8rem;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}

#linkinbio-links .textsmall{
    font-size: 1rem;
    font-weight: 300;
    cursor: default;
}

#linkinbio-links .linkin-bio-hover:hover{
    color: #edf2ff;
    transition: color 0.5s ease;
}

#linkinbio-links .sortable-grabel{
    cursor:grab;
}

#linkinbio-links .bg-linkinbio-edit-field{
    background-color: #edf2ff;
    padding: .9rem;
    margin-top: .9rem;
}

#linkinbio-links .bg-linkinbio-edit-field a{
    line-height: 1rem;
    text-decoration: none;
    cursor:pointer;
}

.url-chacke-feedback{
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
}
