{% extends "basic.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/webclicktracker.css' %}">
{% endblock %}

{% block body %}


    <!--Sidebar-->
    {% include "includes/sidebar.html" %}

        <div class="container-fluid p-0 bg-body">

            <!--Navbar-->
            {% include "includes/navbar.html" %}


{% endblock body %}

{% block javasript %}
<script>
var website_image = "{% static '/images/hook_image.jpg' %}";
</script>
<script defer src="{% static '/assets/js/toast-alert.js' %}"></script>
<script defer src="{% static '/assets/js/webclicktracker.js' %}"></script>

{% endblock %}